*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
}

.container-big{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.head{
    width: 100vw;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ededed;
}

i{
    margin-left: 15px;
}

.container-primo{
    height: 300px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    border: 1px solid #ededed;
    border-style: hidden hidden solid hidden;
}

#grafico,
#grafico-torta,
#grafico-bar,
#grafico-polar{
    height: 250px;
}

.container-torta{
    height: 300px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    border: 1px solid #ededed;
    border-style: hidden hidden solid solid;
}

.container-bar{
    height: 300px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    border: 1px solid #ededed;
    border-style: hidden solid hidden hidden;
}

.container-polar{
    height: 300px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.tasti{
    height: 70px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ededed;
}

input,
select{
    height: 25px;
    margin-right: 20px;
    border: 0.5px solid black;
}

#date{
    padding: 10px;
}

button{
    height: 20px;
    width: 80px;
    background-color: lightgrey;
    border-color: black;
}
